.formulario{
    width:300px;
    height: 205px;
    background: lightblue;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: 9px double #990000;
}
.return{
    margin-left: 20px;
    width: 40px;
}
body{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-left: 30px;
}
#foot{
    margin-right: 20px;
    text-align: right;
}